*
{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

main
{
	display: block;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;

}
.fond
{
	background: url(../images/fond.jpg);
	background-size: 100%;
	height: 540px;
	max-width: 100%;
}
/*ecriture*/
h1, a, button, footer, label
{
	font-family: 'Roboto', sans-serif;
}

h1
{
	font-size: 2em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	-webkit-text-decoration-color: #BA4E56;
	        text-decoration-color: #BA4E56;
}

.form-user
{
	padding: 10% 35%;
	color: #ffffff;
}

.form-group
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	margin: 50px;
}

/*Partie header*/
/*HEADER*/
header
{
	font-size: 18px;
}
.header
{
	background-color: #162947;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; 
}
.header-navigation
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.nav-item
{
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}
.nav-item a
{
	color: #ffffff;
	font-size: 18px;
}

/*------------------------ PAGE ACCUEIL ---------------------------------*/
/*profil*/
.profil
{
	width: 50%;
	color: #ffffff;
	border-radius: 10px;
	background-color: #162947;
	font-size: 1.2em;
	display: none;
}

/*voir et masquer les profils*/
.logout
{
	background:    #ffffff;
	border:        3px solid #2f2e33;
	border-radius: 1000px;
	padding:       10px 25px;
	color:         #2f2e33;
	display:       inline-block;
	font-size: 16px;
	text-align:    center;
	cursor: pointer;
}
/*bouton de connexion/inscription*/
#connexion, #create-login
{
	background:    #ffffff;
	border:        3px solid #2f2e33;
	border-radius: 1000px;
	padding:       5px 20px;
	color:         #2f2e33;
	display:       inline-block;
	font-size: 16px;
	text-align:    center;
	cursor: pointer;
	margin-top: 15px;
}


.voir-profil, .masquer-profil
{
	background:    #ffffff;
	border:        3px solid #2f2e33;
	border-radius: 1000px;
	padding:       7px 15px;
	color:         #2f2e33;
	display:       inline-block;
	font-size: 16px;
	text-align:    center;
	cursor: pointer;
	margin: 20px;
	-webkit-box-shadow: 0 0 1em #BA4E56;
	        box-shadow: 0 0 1em #BA4E56;
}

#voir-profil:target .profil
{
	display: block;
	margin-top: 20px;

}

.masquer-profil
{
	display: none;
}

#voir-profil:target .masquer-profil
{
	display: inline;
}

#voir-profil:target .voir-profil
{
	display: none;
}

#profil-name,#profil-firstname,#profil-mail,#profil-button,#profil-role
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
			justify-content: left;
}
#profil_nom, #profil_prenom, #profil_role, #profil_email, .profil  p
{
	color: #BA4E56;
}

#suppression-compte, #menu-admin
{
	background:    #ffffff;
	border:        3px solid #2f2e33;
	border-radius: 1000px;
	padding:       10px 25px;
	color:         #2f2e33;
	display:       inline-block;
	font-size: 16px;
	text-align:    center;
	cursor: pointer;
}

.menu-navigation
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	text-align: center;
	-ms-flex-pack: distribute;
		justify-content: space-around;

}

.nav-menu
{
	-webkit-box-shadow: 0 0 1em #e2e2e2;
	        box-shadow: 0 0 1em #e2e2e2;
	width: 475px;
	height: 411px;
	margin: 1em 1em 3em 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	text-align: center;
	border-radius: 50px;
}

#menu-intranet a
{
	background-color: rgba(224, 227, 230, 0.9);
}

#menu-intranet p
{
	visibility: hidden;
	background-color: rgba(224, 227, 230, 0.9);
	font-size: 1.6rem;
}

#menu-intranet a:hover + p
{
	visibility: visible;
}

#menu-intranet
{
	background-image: url("../images/social2.png");
	background-position: center;
	font-size: 2em;
}
p
{
	color: black;
}

/*------------------------ FOOTER ---------------------------------*/
footer, .footer p
{
	text-align: center;
	font-size: 1rem;
	background-color: #162947;
	color: #ffffff;
	width: 100%;
	height: 30px;
	left: 0;
	bottom: 0;

}

/*----------------------- MESSAGEIRE ---------------------*/
#page-network
{
	margin-left: 2rem;
	margin-right: 2rem;
	-webkit-box-shadow: 0 0 1em #c7c6ca;
	        box-shadow: 0 0 1em #c7c6ca;
	border-radius: 25px;
}

#page-network h1,#fiche-message h1,#fiche-commentaire h3,#page-form-network h1,#page-liste-user h1,#update-form-network h1
{
	text-align: center;
	color: #2f2e33;
}

#fiche-commentaire h3
{
	margin-top: 5rem;
	margin-bottom: 1em;
}

#ajout-post
{
	font-size: 1em;
	cursor: pointer;
	border-radius: 500px;
	border:        3px solid #2f2e33;
	margin-left: 3rem;
	-webkit-box-shadow: 0 0 1em #BA4E56;
	        box-shadow: 0 0 1em #BA4E56;
	width: auto;
	padding:       10px 25px;
	color:         #2f2e33;
	display:       inline-block;
	font-size: 16px;
	text-align:    center;
	cursor: pointer;
}

.message
{
	background-color: white;
	-webkit-box-shadow: 0 0 1rem #0c0000;
	        box-shadow: 0 0 1rem #0c0000;
	border-radius: 10px;
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	text-align: center;
}

.image-network,#image-single-message img
{
	max-width: 98%;
	max-height: 400px;
}

.information_message,.info-single-message,.info-single-commentaire
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	margin-left: 2em;
	font-size: 1rem;
	color: #BA4E56;
}

.zone_message,#titre-single-message,.texte-single-commentaire
{
	margin-right: 1em;
	margin-left: 1em;
	border-top: 1px solid rgba(224, 227, 230, 0.9);
}

#titre-single-message,.texte-single-commentaire,.action-button-commentaire
{
	margin-top: 0em;
	margin-bottom: 0.5em;
}

.zone_title
{
	font-size: 1.5em;
	font-weight: bold;
}

.user_name,#user-single-message,.user-single-commentaire
{
	margin-right: 2em;
}

/*--------- Page admin-------------*/

.user_element{
	text-align: center;
	margin: 25px 0;
	color: #2f2e33;
	text-decoration: none;
}

#page-liste-user h1
{
	color: #2f2e33;
}

.user-nom, .user-prenom, .user-role
{
 text-decoration: none;
}

/*----------------commentaire---------------------*/

#single-message
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

#info_commentaire{
	margin-bottom: 50px;
}

#liste_message{
	margin-bottom: 50px;
}

#form_login, #form_signup
{
	text-align: center;
}

a:link 
{ 
 text-decoration:none; 
} 

#message_select
{
	color: black;
}

.zone_title
{
	color: #BA4E56;
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 15px;
}